.bg-dark{
    background: rgb(174,179,186);
background: -moz-linear-gradient(0deg, rgba(174,179,186,1) 32%, rgba(233,164,225,1) 74%);
background: -webkit-linear-gradient(0deg, rgba(174,179,186,1) 32%, rgba(233,164,225,1) 74%);
background: linear-gradient(0deg, rgba(174,179,186,1) 32%, rgba(233,164,225,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aeb3ba",endColorstr="#e9a4e1",GradientType=1);
}
.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}
.carousel-item{
    width: 100%;
    margin-top: -25%;
}

