.navbar.navbar-expand-lg.bg-primary,
.bg-secondary{
    background: rgb(234,113,207);
    background: -moz-linear-gradient(0deg, rgba(234,113,207,0.7455357142857143) 20%, rgba(114,116,121,1) 48%, rgba(234,113,207,1) 80%);
    background: -webkit-linear-gradient(0deg, rgba(234,113,207,0.7455357142857143) 20%, rgba(114,116,121,1) 48%, rgba(234,113,207,1) 80%);
    background: linear-gradient(0deg, rgba(234,113,207,0.7455357142857143) 20%, rgba(114,116,121,1) 48%, rgba(234,113,207,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea71cf",endColorstr="#ea71cf",GradientType=1);   
}
i.fa-brands.fa-linkedin.fa-xl,
i.fa-brands.fa-facebook.fa-xl,
i.fa-brands.fa-instagram.fa-xl,
i.fa-solid.fa-user-lock.fa-xl,
.fa-solid.fa-user.fa-xl{
    color:#fff;
    }
i.fa-brands.fa-linkedin.fa-xl:hover{
color:rgb(84, 161, 233);
}
i.fa-brands.fa-facebook.fa-xl:hover{
    color:blue;
}
i.fa-brands.fa-instagram.fa-xl:hover{
color:rgb(238, 81, 217);
} 
i.fa-solid.fa-user-lock.fa-xl:hover{
color:rgb(109, 33, 231);
} 
.fa-solid.fa-user.fa-xl:hover{
color: darksalmon;
}              
.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}
.banner {
   width: 100%;
   margin-top: -25%;
 }
 section.admin{
    margin-top: 8rem;
}

.nav-pills{
    --bs-nav-pills-link-active-bg: #df11b2bf;
}

.nav-link{
    color: rgba(131, 67, 214, 0.75);
}
.nav-link:hover{
    color: darkgrey;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .circle-progress {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #7fdbff 50%, #0074d9 0);
  }
  
  .circle-progress:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 200px;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: #7fdbff;
    transform-origin: left center;
    transform: rotate(90deg); /* Cambia este valor según el porcentaje */
  }
  
  .value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
  
  .label {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
  }



